/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------------- */ 

h1, h2, .large {
  font-family: "AvenirNext-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}


.container {
	width: 690px;
	vertical-align: baseline;
	margin: 0 auto;
}

header {
	position: relative;
	margin-bottom: 15px;

}


#logo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  position: relative;
  top: 15px;
  height: 56px;
  width: 118px;
}



nav {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

nav li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

nav a {
	font-size: 15px;
	color: #262c26;
}

section ol {
	list-style: none outside;
}

#login {
  border-left: solid 1px #d3d3d3;
}

#signup {
	font-weight: bold;
}


main {
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
	height: 100%;
	min-height: 330px;
	padding: 43px 50px 50px;
	position: relative;
}

main h1 {
	margin-bottom: 40px;
	font-size: 28px;
	font-weight: bold;
	color: #333;
}

section {
	display: inline-block;
	width: 350px;
}

section ol, section li {
	margin-bottom: 27px;
}

label {
	font-size: 14px;
	color: #333;
	display: block;
	padding-bottom: 5px;
	height: 18px;
	font-family: "Helvetica Neue" , Helvetica, sans-serif;
}

input:focus {
	outline: 0;
}

input {
	width: 260px;
	height: 24px;
	box-shadow: 0, 1px, 1px, rgba(0, 0, 0, 0.1) inset;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	color: #666;
	padding: 2px;
}

select {
	width: 270px;
	height: 30px;
	border-radius: 0px;
	border-color: rgb(169, 169, 169);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	padding-left: 5px;
	color: #666;
	padding: 2px;
}

#zipcode {
	width: 74px;
}

input[type="checkbox"] {
	width: initial;
	height: initial;
	vertical-align: baseline;
	margin-right: 2px;
	position: relative;
	top: -1px;
}

.terms {
	display: inline;
	position: static;
	padding-bottom: 0px;
	font-weight: normal;
	font-size: 13px;
	color: #666;	
	font-family: "Helvetica Neue" , Helvetica, sans-serif;

}

.terms a {
	font-size: 14px;	
}

button {
	color: #fff;
	background-color: #45cae6;
	display: inline-block;
	border: none;
	font-family: "Helvetica Neue" , Helvetica, sans-serif;
	line-height: 13px;
	border-radius: 3px;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	padding: 13px 20px 11px 20px;
	font-size: 13px;
	text-decoration: none;
	margin: 0;
	min-width: 85px;
}


aside {
	width: 224px;
	height: 528px;
	border-left: solid 1px #d3d3d3;
	vertical-align: top;
	margin-left: 38px;
	display: inline-block;
	vertical-align: top;
	float: right;
	position: absolute;
}

.square {
	background-color: #f5f5f5;
	color: #555;
	font-size: 14px;
	margin-left: 25px;
	height: 140px;
	padding-bottom: 19px;
	padding-right: 17px;
	padding-top: 21px;
	padding-left: 40px;
}

.square h2 {
	font-size: 20px;
	margin-left: -15px;
	color: #666;
	padding-bottom: 5px;
	font-weight: 500;
}

.square li {
	list-style: disc;
	padding: 0 5px 5px 0;
	font-size: 12px;
}

.square a {
	color: #666; 
	font-size: 11px;
	text-decoration: underline;
}